.sliderContainer {
  max-width: 1100px;
  /* width: 100%; */
  margin: 0 auto;
  background-color: rgba(49, 234, 49, 0.2);
  /* display: flex; */
  overflow: hidden;
}

.cardItem {
  display: flex;
  flex: 0 0 auto;
  /* display: block; */
  max-width: 380px;
  /* margin: 0 auto; */
  margin: 0 auto;
  /* padding: 0 10px; */
}

/* .sliderContainer .slick-prev::before,
.sliderContainer .slick-next::before {
  display: none !important;
} */

@media (min-width: 425px) {
  .cardItem {
    padding: 0 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sliderContainer {
    padding: 0 10px;
    /* gap: 10px; */
  }
  .cardItem {
    padding: 0 10px;
  }
}

@media (min-width: 1025px) {
  .sliderContainer {
    padding: 0px;
    /* padding: 0 30px; */
  }
  .cardItem {
    flex-shrink: 0;
    padding: 0 5px;
  }
}
@media (min-width: 1281px) {
  .sliderContainer {
    width: 1280px;
    padding: 0px;
  }
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
  content: none !important;
}
